---
import BaseLayout from '../layouts/BaseLayout.astro';
// O frontmatter aqui deve ser o mínimo necessário.
// Não precisa de conteúdo, pois a única função desta página é carregar o layout,
// que por sua vez carrega o script de redirecionamento.
---
<BaseLayout title="Redirecionando...">
  <p style="text-align:center; padding-top: 50vh;">Carregando o idioma...</p>
</BaseLayout>