---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import "../styles/toggle-switch.css";
import "../styles/header.css";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="settings">
      <label class="toggle-switch" aria-label="Alternar modo">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider"></span>
      </label>
    </div>
  </nav>
</header>
